@import "tailwindcss";

@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';
@import "tailwindcss-animated";
@import "tailwindcss-intersect";

/* henter daisy UI */
@plugin "daisyui";

@theme {
  /* Her tilføjes theme variable // tokens */

  /*Farver */

  /* Primary */
  --color-primary-500: #dee0c8;
  --color-primary-200: #f1f3d9;

  /* Secondary */
  --color-secondary-500: #cbbf42;
  --color-secondary-400: #d9cc46;
  --color-secondary-900: #282607;

  /* Accent */
  --color-accent-500: #2c60bd;
  --color-accent-700: #173975;

  /* Light */
  --color-light-500: #f6f6ef;

  /* Dark */
  --color-dark-500: #680100;
  --color-dark-600: #580001;
  --color-dark-700: #490101;
  --color-dark-900: #280100;

  /*Typografi */
  --font-heading: "dunbartall-hairline", sans-serif;
  --font-display: "salted", sans-serif;
  --font-paragraph: "Figtree", sans-serif;

  /* Margin y mellem sektionerne */
  --my-section-d: 80px;
  --my-section-m: 40px;

  /*custom cursor*/
  --olivecursor: url(/oliven.svg) 25 25, pointer;
}

@layer base {
}

@layer components {
}

@layer utilities {
}
