---
// Hent den aktuelle sti
const { pathname } = Astro.url;
// Tjek om vi er på forsiden (husk at "/" er standard for forsiden)
const isHome = pathname === "/" || pathname === "/index.astro";
import Text from "../components/Text.astro";
import Heading from "../components/Heading.astro";
import { Image } from "astro:assets";
import fullscreen_menubillede from "../assets/images/fullscreen_menubillede.webp";
---

<header x-data="{ showMenu: false }" class="fixed top-0 left-0 z-50 w-full bg-transparent">
  <!-- nav bar start -->
  <div class="flex justify-between items-center px-5 py-5 md:px-10 md:py-10">

    <!-- logo + text svg start -->
    <div class="flex flex-row items-center"> 
    <!-- logo start -->
    <div id="logo-container" class="group relative block w-24 h-24 lg:w-32 lg:h-32 transition-all duration-300"> 
    <a href="/">
      <!-- default logo -->
      <img id="logo" src="/images/logo.svg" alt="Logo" class="absolute inset-0 h-full object-contain group-hover:opacity-0 transition-all duration-300" />

      <!-- hover logo -->
      <img id="logo_hover" src="/images/logo_hover.svg" alt="Logo Hover" class="absolute inset-0 h-full object-contain opacity-0 transition-opacity duration-300 group-hover:opacity-100" />
    </a>
    </div>
    <!-- logo slut -->
     <!-- Logo Type (Kun på forsiden OG kun før scroll) -->
    {isHome && (
    <div>
    <img id="logo-text" src="/images/lille_logo_header.svg" alt="Abdeljalil olive oil" class="w-40 -ml-2 lg:w-64 transition-all duration-300"  />
    </div>
    )}
    
    </div>
    <!-- logo + text svg slut -->
    

    <!-- menu button -->
    <button @click="showMenu = true" class="w-24 lg:w-32 hover:-rotate-10 transition-transform">
      <img src="/images/menu_open.svg" alt="Open menu" />
    </button>
  </div>
  <!-- nav bar slut -->

  <!-- fullscreen menu start -->
  <div x-show="showMenu" class="fixed inset-0 flex flex-col bg-secondary-500 px-5 py-5 md:px-10 md:py-10">
    <!-- top bar start-->
    <div class="flex items-center justify-between">
      <!-- logo start -->
      <a href="/" class="group relative block w-24 h-24 lg:w-32 lg:h-32">
        <!-- default logo -->
        <img src="/images/logo.svg" alt="Logo" class="absolute inset-0 h-full object-contain transition-opacity duration-300 group-hover:opacity-0" />

        <!-- hover logo -->
        <img src="/images/logo_hover.svg" alt="Logo Hover" class="absolute inset-0 h-full object-contain opacity-0 transition-opacity duration-300 group-hover:opacity-100" />
      </a>
      <!-- logo slut -->

      <!-- close button -->
      <button @click="showMenu = false" class="w-24 lg:w-32 hover:-rotate-10 transition-transform">
        <img src="/images/menu_close.svg" alt="Close menu" />
      </button>
    </div>
    <!-- top bar slut-->

    <!-- content start-->
    <div class="mt-auto grid grid-cols-6 lg:grid-cols-12 items-end">
      <!-- left side start-->
      <div class="order-2 lg:order-1 col-start-1 col-span-6 lg:col-span-4">
        <Text teksttype="konsultativ" font="display" color="dark600" stylingclasses="mb-2.5">Our craft takes time</Text>
        <Text teksttype="manchet" font="heading" color="dark600" stylingclasses="mb-2.5">Right now, our olives are ripening on the branch:</Text>
        <Image src={fullscreen_menubillede} alt="Picture of an olive branch" />
      </div>
      <!-- left side slut-->

      <!-- menu links start -->
      <nav class="order-1 lg:order-2 col-start-2 col-span-5 lg:col-start-7 lg:col-span-6 mb-5 lg:mb-0">
        <ul class="text-right">
          <!-- Our Olive Oil -->
          <li>
            <a href="/our_oliveoil" class="group inline-block">
              <div class="relative inline-block md:mb-5 lg:mb-10">
                <Heading htmlheading="h1" size="large" font="display" stylingclasses="transition-colors duration-300 group-hover:text-secondary-900">Our Olive Oil</Heading>
                <!-- underline svg -->
                <img src="/images/underline.svg" alt="underline" class="absolute left-0 bottom-2 w-full opacity-0 transition-opacity duration-300 group-hover:opacity-100" />
              </div>
            </a>
          </li>

          <!-- Buy/Subscribe -->
          <li>
            <a href="/buy" class="group inline-block">
              <div class="relative inline-block md:mb-5 lg:mb-10">
                <Heading htmlheading="h2" size="large" font="display" stylingclasses="transition-colors duration-300 group-hover:text-secondary-900">Buy/Subscribe</Heading>
                <!-- underline svg -->
                <img src="/images/underline.svg" alt="underline" class="absolute left-0 bottom-2 w-full opacity-0 transition-opacity duration-300 group-hover:opacity-100" />
              </div>
            </a>
          </li>

          <!-- Explore Our Farm -->
          <li>
            <a href="/explore" class="group inline-block">
              <div class="relative inline-block md:mb-5 lg:mb-10">
                <Heading htmlheading="h3" size="large" font="display" stylingclasses="transition-colors duration-300 group-hover:text-secondary-900">Explore Our Farm</Heading>
                <!-- underline svg -->
                <img src="/images/underline.svg" alt="underline" class="absolute left-0 bottom-2 w-full opacity-0 transition-opacity duration-300 group-hover:opacity-100" />
              </div>
            </a>
          </li>

          <!-- My Abdeljalil -->
          <li>
            <a href="/" class="group inline-block">
              <div class="relative inline-block">
                <Heading htmlheading="h4" size="large" font="display" stylingclasses="transition-colors duration-300 group-hover:text-secondary-900">My Abdeljalil</Heading>
                <!-- underline svg -->
                <img src="/images/underline.svg" alt="underline" class="absolute left-0 bottom-2 w-full opacity-0 transition-opacity duration-300 group-hover:opacity-100" />
              </div>
            </a>
          </li>
        </ul>
      </nav>
      <!-- menu links slut -->
    </div>
    <!-- content slut-->
  </div>
  <!-- fullscreen menu slut -->
</header>

<!-- javascript for "abdeljalill olive oil" transition i menu -->
 <script>
const logoContainer = document.querySelector("#logo-container"); 

if (logoContainer) { 
window.addEventListener("scroll", () => { 
if (window.scrollY > 100) { 

// Når der scroles: Gør logo-containeren mindre 
logoContainer.classList.remove("w-24", "h-24", "lg:w-32", "lg:h-32"); logoContainer.classList.add("w-16", "h-16", "lg:w-20", "lg:h-20"); 

} else { 
// Når man er i toppen: Gå tilbage til oprindelig størrelse 
logoContainer.classList.remove("w-16", "h-16", "lg:w-20", "lg:h-20"); logoContainer.classList.add("w-24", "h-24", "lg:w-32", "lg:h-32"); 
} 
}); 
}

   // Vi tilføjer et check, så scriptet kun kører hvis logo-text findes
  const logoText = document.querySelector('#logo-text');
  
  if (logoText) {
    window.addEventListener('scroll', () => {
      if (window.scrollY > 100) {
        logoText.classList.add('max-w-0', 'opacity-0');
      } else {
        logoText.classList.remove('max-w-0', 'opacity-0');
      }
    });
  }
</script>